<header class="header_k container-fluid mt-2 mb-1 sticky-top">
    <div class="navpre_k row mx-5">
        <nav class="navegacion-pre d-inline-block ml-auto">                    
            <a href="#">|</a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-youtube-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>  
            <a href="#" class="d-none"><i class="fas fa-faucet "></i></a>  
            
        </nav>
    </div>

    <div class="navmenu_k row mx-5">                
        <img src="public/images/ASUSAP3.svg" alt="" class="logo" >
        <!-- <img src="public/images/logo.svg" alt="" class="barra-menu">  -->
        <i class="fas fa-bars fa-3x barra-menu"></i>               

        <nav class="navegacion text-monospace lead ">
            <ul>
                <li><a href="?pg=page_web">INICIO <i class="fas fa-home"></i></a></li>
                <li><a href="#">QUIENES SOMOS <i class="fas fa-people-carry"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Encargatura</a></li>
                        <li><a href="#">Dirección</a></li>
                    </ul>
                </li>                        
                <li><a href="#">ORGANIZACIÓN <i class="fas fa-sitemap"></i></a></li>
                <li><a href="#servicios">SERVICIOS <i class="fas fa-hard-hat"></i></a>
                    <ul class="submenu">
                        <li><a href="#">Servicio #1</a></li>
                        <li><a href="#">Servicio #2</a></li>
                    </ul>
                </li>
                <li><a href="#">INFÓRMATE <i class="fas fa-info"></i></a></li>
            </ul>
        </nav>                
    </div>
</header>