$color-primario:rgb(55, 105, 172);
$color-secundario:rgb(41, 72, 114);
$color-hover:rgba(41, 71, 114, 0.137);
$color-hover2:rgba(41, 71, 114, 0.972);
$color-hover21:rgb(23, 53, 95);

$colorprueba1: #0c85a3c2;
$colorprueba2: #eeeeee;


// color historia uemeracion 
$c-numeracion: rgba(17, 64, 126, 0.87);